<section class="menu">
    <hr>
    <h2><img [src]="imgGerenciamento" alt="Icone de Gerenciamento">Gerenciamento</h2>
    <hr>
    <div class="menu_options">
        <a routerLink="/home"><img [src]="imgCadastros" alt="Icone de Cadastros" class="icon">Cadastros</a>
        <a routerLink="/cadastro/cliente"><img [src]="imgNovoCadastro" alt="Icone de Novo Cadastro" class="icon">Novo cadastro</a>
        <a routerLink="/consultas"><img [src]="imgConsultas" alt="Icone de Consultas" class="icon">Consultas</a>
    </div>
</section>